<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Data Cleaner</title>
		<!-- favicon from http://www.freefavicon.com/freefavicons/objects/iconinfo/red-highlighter-152-190158.html -->
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css">
		<style>
			.nav, .pagination, .carousel, .panel-title a
			{
				/* needed by http://angular-ui.github.io/bootstrap/ */
				cursor: pointer;
			}

			.list-columns
			{
				-webkit-column-count: 6;
				-webkit-column-gap: 10px;
				-moz-column-count: 6;
				-moz-column-gap: 10px;
				column-count: 6;
				column-gap: 15px;
			}

			.main-row
			{
				min-height: 500px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Data Cleaner</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<ul class="nav navbar-nav">
						<span ng-app="allItemsApp">
							<span ng-controller="allItemsCtrl">
								<script type="text/ng-template" id="allItemsContent">
									<div class="modal-header">
										<h3 class="modal-title">Choose a variable...</h3>
									</div>
									<div class="modal-body">
										<ul class="list-columns">
											<li ng-repeat="item in items">
												<a href="#" ng-click="$event.preventDefault(); selected.item = item; ok();">{{ item }}</a>
											</li>
										</ul>
									</div>
									<div class="modal-footer">
										Current variable: <strong>{{ selected.item }}</strong>
										<!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
										<!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
									</div>
								</script>
								<li type="button" class="btn" ng-click="$event.preventDefault(); open()"> <!--#todo: white -->
									<a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> All</a>
								</li>
							</span>
						</span>
						<li><a href="#"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> PrevName</a></li>
						<li class="active"><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> CurName <span class="sr-only">(current)</span></a></li>
						<li><a href="#"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> NextName</a></li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Variable...">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</span>
						</div>
					</form>
				</div><!-- /.container-fluid -->
			</nav>
		</div>

		<div class="container">
			<div class="row main-row">
				<div class="col-xs-12 col-md-5">plots</div>
				<div class="col-xs-4  col-md-3">data info</div>
				<div class="col-xs-4  col-md-2">chosen actions</div>
				<div class="col-xs-4  col-md-2">available actions</div>
			</div>
			<div class="row">
				<div class="col-xs-5">more stuff</div>
			</div>
		</div>

		<!-- javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.js"></script>
		<script>
			/*
				Show all variables
				https://angular-ui.github.io/bootstrap/ -> Modal
			 */
			/* #todo change url for different vars */
			angular.module('allItemsApp', ['ngAnimate', 'ui.bootstrap']);
			angular.module('allItemsApp').controller('allItemsCtrl', function ($scope, $modal, $log) {

				$scope.items = ['var0', 'var1', 'var2', 'var3', 'var4', 'var5', 'var6', 'var7', 'var8', 'var9', 'var10', 'var11', 'var12', 'var13', 'var14', 'var15', 'var16', 'var17', 'var18', 'var19', 'var20', 'var21', 'var22', 'var23', 'var24', 'var25', 'var26', 'var27', 'var28', 'var29', 'var30', 'var31', 'var32', 'var33', 'var34', 'var35', 'var36', 'var37', 'var38', 'var39', 'var40', 'var41', 'var42', 'var43', 'var44', 'var45', 'var46', 'var47', 'var48', 'var49', 'var50', 'var51', 'var52', 'var53', 'var54', 'var55', 'var56', 'var57', 'var58', 'var59', 'var60', 'var61', 'var62', 'var63', 'var64', 'var65', 'var66', 'var67', 'var68', 'var69', 'var70', 'var71', 'var72', 'var73', 'var74', 'var75', 'var76', 'var77', 'var78', 'var79', 'var80', 'var81', 'var82', 'var83', 'var84', 'var85', 'var86', 'var87', 'var88', 'var89', 'var90', 'var91', 'var92', 'var93', 'var94', 'var95', 'var96', 'var97', 'var98', 'var99'];  //#todo

				$scope.open = function () {

					var modalInstance = $modal.open({
						animation: true,
						templateUrl: 'allItemsContent',
						controller: 'allItemsInstanceCtrl',
						size: 'lg',
						resolve: {
							items: function () {
								return $scope.items;
							}
						}
					});

					modalInstance.result.then(function (selectedItem) {
						$scope.selected = selectedItem;
					}, function () {
						$log.info('Modal dismissed at: ' + new Date());
					});
				};

				$scope.toggleAnimation = function () {
					$scope.animationsEnabled = !$scope.animationsEnabled;
				};

			});

			angular.module('allItemsApp').controller('allItemsInstanceCtrl', function ($scope, $modalInstance, items) {

				$scope.items = items;
				$scope.selected = {
					item: $scope.items[0]
				};

				$scope.ok = function () {
					$modalInstance.close($scope.selected.item);
				};
			});
		</script>

	</body>
</html>


